<app-header></app-header>
<div id="main-content">
    <div class="container-fluid">
        <!-- Page header section  -->
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h1>Hi, Welcomeback!</h1>
                    <span>JustDo Patients List,</span>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 text-lg-right">
                    <div
                        class="d-flex align-items-center justify-content-lg-end mt-4 mt-lg-0 flex-wrap vivify pullUp delay-550">
                        <div class="border-right pr-4 mr-4 mb-2 mb-xl-0 hidden-xs">
                            <p class="text-muted mb-1">Fever</p>
                            <h5 class="mb-0">214</h5>
                        </div>
                        <div class="border-right pr-4 mr-4 mb-2 mb-xl-0">
                            <p class="text-muted mb-1">Cholera</p>
                            <h5 class="mb-0">206</h5>
                        </div>
                        <div class="pr-4 mb-2 mb-xl-0">
                            <p class="text-muted mb-1">Malaria</p>
                            <h5 class="mb-0">420</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="card">
                    <div class="body">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Patients">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="search-mail"><i
                                            class="icon-magnifier"></i></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Media</th>
                                    <th>Patients ID</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Address</th>
                                    <th>Number</th>
                                    <th>Last Visit</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="w60">
                                        <img src="assets/images/xs/avatar1.jpg" data-toggle="tooltip"
                                            tooltip="Avatar Name" title="" alt="Avatar" class="avatar rounded-circle"
                                            data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">US 00598</span></td>
                                    <td>Daniel</td>
                                    <td>32</td>
                                    <td>71 Pilgrim Avenue Chevy Chase, MD 20815</td>
                                    <td>404-447-7845</td>
                                    <td>11 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="assets/images/xs/avatar2.jpg" data-toggle="tooltip"
                                            tooltip="Avatar Name" title="" alt="Avatar" class="avatar rounded-circle"
                                            data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">DR 00258</span></td>
                                    <td>Alexander</td>
                                    <td>22</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-6013</td>
                                    <td>15 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="assets/images/xs/avatar3.jpg" data-toggle="tooltip"
                                            tooltip="Avatar Name" title="" alt="Avatar" class="avatar rounded-circle"
                                            data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">YM 00369</span></td>
                                    <td>Richard</td>
                                    <td>26</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-8545</td>
                                    <td>16 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="assets/images/xs/avatar4.jpg" data-toggle="tooltip"
                                            tooltip="Avatar Name" title="" alt="Avatar" class="avatar rounded-circle"
                                            data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">SO 00147</span></td>
                                    <td>Samuel</td>
                                    <td>45</td>
                                    <td>71 Pilgrim Avenue Chevy Chase, MD 20815</td>
                                    <td>404-447-5963</td>
                                    <td>17 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="assets/images/xs/avatar5.jpg" data-toggle="tooltip"
                                            tooltip="Avatar Name" title="" alt="Avatar" class="avatar rounded-circle"
                                            data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">JW 00123</span></td>
                                    <td>Stephen</td>
                                    <td>55</td>
                                    <td>71 Pilgrim Avenue Chevy Chase, MD 20815</td>
                                    <td>404-447-6013</td>
                                    <td>18 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="assets/images/xs/avatar6.jpg" data-toggle="tooltip"
                                            tooltip="Avatar Name" title="" alt="Avatar" class="avatar rounded-circle"
                                            data-original-title="Avatar Name" aria-describedby="tooltip534296">
                                    </td>
                                    <td><span class="list-name">GY 00456</span></td>
                                    <td>Joseph</td>
                                    <td>27</td>
                                    <td>70 Bowman St. South Windsor, CT 06074</td>
                                    <td>404-447-7845</td>
                                    <td>19 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="assets/images/xs/avatar7.jpg" data-toggle="tooltip"
                                            tooltip="Avatar Name" title="" alt="Avatar" class="avatar rounded-circle"
                                            data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">EG 00789</span></td>
                                    <td>Cameron</td>
                                    <td>38</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-4593</td>
                                    <td>19 Jan 2019</td>
                                    <td><span class="badge badge-warning">Pending</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="assets/images/xs/avatar8.jpg" data-toggle="tooltip"
                                            tooltip="Avatar Name" title="" alt="Avatar" class="avatar rounded-circle"
                                            data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">PD 00987</span></td>
                                    <td>Alex</td>
                                    <td>39</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-1593</td>
                                    <td>20 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="assets/images/xs/avatar1.jpg" data-toggle="tooltip"
                                            tooltip="Avatar Name" title="" alt="Avatar" class="avatar rounded-circle"
                                            data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">AA 00951</span></td>
                                    <td>James</td>
                                    <td>32</td>
                                    <td>44 Shirley Ave. West Chicago, IL 60185</td>
                                    <td>404-447-6013</td>
                                    <td>22 Jan 2019</td>
                                    <td><span class="badge badge-warning">Pending</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="assets/images/xs/avatar2.jpg" data-toggle="tooltip"
                                            tooltip="Avatar Name" title="" alt="Avatar" class="avatar rounded-circle"
                                            data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">JS 00953</span></td>
                                    <td>charlie</td>
                                    <td>51</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-2478</td>
                                    <td>22 Jan 2019</td>
                                    <td><span class="badge badge-warning">Pending</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="assets/images/xs/avatar3.jpg" data-toggle="tooltip"
                                            tooltip="Avatar Name" title="" alt="Avatar" class="avatar rounded-circle"
                                            data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">TS 00984</span></td>
                                    <td>William</td>
                                    <td>35</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-9865</td>
                                    <td>22 Jan 2019</td>
                                    <td><span class="badge badge-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td class="w60">
                                        <img src="assets/images/xs/avatar4.jpg" data-toggle="tooltip"
                                            tooltip="Avatar Name" title="" alt="Avatar" class="avatar rounded-circle"
                                            data-original-title="Avatar Name">
                                    </td>
                                    <td><span class="list-name">RT 00934</span></td>
                                    <td>Bing</td>
                                    <td>26</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                    <td>404-447-5622</td>
                                    <td>29 Jan 2019</td>
                                    <td><span class="badge badge-warning">Pending</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>