<app-header></app-header>
<div id="main-content">
    <div class="container-fluid">
        <!-- Page header section  -->
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h1>Hi, Welcomeback!</h1>
                    <span>JustDo Payments,</span>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 text-lg-right">
                    <div
                        class="d-flex align-items-center justify-content-lg-end mt-4 mt-lg-0 flex-wrap vivify pullUp delay-550">
                        <div class="border-right pr-4 mr-4 mb-2 mb-xl-0 hidden-xs">
                            <p class="text-muted mb-1">Today's</p>
                            <h5 class="mb-0">$214</h5>
                        </div>
                        <div class="border-right pr-4 mr-4 mb-2 mb-xl-0">
                            <p class="text-muted mb-1">Week</p>
                            <h5 class="mb-0">$1206</h5>
                        </div>
                        <div class="pr-4 mb-2 mb-xl-0">
                            <p class="text-muted mb-1">Month</p>
                            <h5 class="mb-0">$2420</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-border table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Bill No</th>
                                        <th>Bill date</th>
                                        <th>Patient</th>
                                        <th>Doctor</th>
                                        <th>Charges</th>
                                        <th>Tax</th>
                                        <th>Discount</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>21</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>02/21/2020</td>
                                        <td>Lori Perkins</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Jessica Patterson</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>105</td>
                                        <td>02/21/2020</td>
                                        <td>Lori Perkins</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>56</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>34</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Jessica Patterson</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>02/21/2020</td>
                                        <td>Lori Perkins</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>02/21/2020</td>
                                        <td>Christina Bing</td>
                                        <td>Jessica Patterson</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                    <tr>
                                        <td>105</td>
                                        <td>02/21/2020</td>
                                        <td>Lori Perkins</td>
                                        <td>Juan Freeman</td>
                                        <td>102</td>
                                        <td>10</td>
                                        <td>10%</td>
                                        <td>210</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>