<div class="auth-main">
    <div class="auth_div vivify fadeIn">
        <div class="auth_brand">
            <a class="navbar-brand" href="#"><img src="assets/images/icon.svg" width="50"
                    class="d-inline-block align-top mr-2" alt="">Mooli</a>
        </div>
        <div class="card forgot-pass">
            <div class="header">
                <p class="lead"><strong>Oops</strong>,<br> forgot something?</p>
            </div>
            <div class="body">
                <form class="form-auth-small" action="index.html">
                    <div class="form-group c_form_group">
                        <label>Type email to recover password.</label>
                        <input type="text" class="form-control" placeholder="Register email">
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg btn-block">RESET PASSWORD</button>
                    <div class="bottom">
                        <span class="helper-text">Know your password? <a [routerLink]="['/login']"
                                href="javascript:void(0)">Login</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="animate_lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>