<app-header></app-header>
<div id="main-content">
    <div class="container-fluid">
        <!-- Page header section  -->
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h1>Hi, Welcomeback!</h1>
                    <span>JustDo Our Centres,</span>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 text-lg-right">
                    <div
                        class="d-flex align-items-center justify-content-md-end mt-4 mt-md-0 flex-wrap vivify pullUp delay-550">
                        <div class="mb-3 mb-xl-0">
                            <button class="btn btn-primary" title="Add new Centres">Add New</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card theme-bg gradient">
                    <div class="body">
                        <div class="row text-center">
                            <div class="col-lg-2 col-md-4 border-right pb-4 pt-4">
                                <label class="mb-0">Australia</label>
                                <h4 class="font-30 font-weight-bold text-col-blue">25</h4>
                            </div>
                            <div class="col-lg-2 col-md-4 border-right pb-4 pt-4">
                                <label class="mb-0">Canada</label>
                                <h4 class="font-30 font-weight-bold text-col-blue">25</h4>
                            </div>
                            <div class="col-lg-2 col-md-4 border-right pb-4 pt-4">
                                <label class="mb-0">India</label>
                                <h4 class="font-30 font-weight-bold text-col-blue">8</h4>
                            </div>
                            <div class="col-lg-2 col-md-4 border-right pb-4 pt-4">
                                <label class="mb-0">UK</label>
                                <h4 class="font-30 font-weight-bold text-col-blue">17</h4>
                            </div>
                            <div class="col-lg-2 col-md-4 border-right pb-4 pt-4">
                                <label class="mb-0">America</label>
                                <h4 class="font-30 font-weight-bold text-col-blue">25</h4>
                            </div>
                            <div class="col-lg-2 col-md-4 pb-4 pt-4">
                                <label class="mb-0">Other</label>
                                <h4 class="font-30 font-weight-bold text-col-blue">23</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="body">
                        <img src="../../../../assets/images/map.png" style="width: 100%;">
                        <!-- <app-worldmap></app-worldmap> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>