<app-header></app-header>




<div id="main-content" class="social">
    <div class="container-fluid">
        <!-- Page header section  -->
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-xl-4 col-md-4 col-sm-12">
                    <h1>Hi, Welcomeback!</h1>
                    <span>JustDo Social,</span>
                </div>
                <div class="col-xl-8 col-md-8 col-sm-12 text-md-right">
                    <div
                        class="d-flex align-items-center justify-content-lg-end mt-4 mt-lg-0 flex-wrap vivify pullUp delay-550">
                        <div class="border-right pr-4 mr-4 mb-2 mb-xl-0">
                            <p class="text-muted mb-1">Total Posts</p>
                            <h5 class="mb-0">132</h5>
                        </div>
                        <div class="border-right pr-4 mr-4 mb-2 mb-xl-0">
                            <p class="text-muted mb-1">Total Feed</p>
                            <h5 class="mb-0">620</h5>
                        </div>
                        <div class="border-right pr-4 mr-4 mb-2 mb-xl-0 hidden-xs">
                            <p class="text-muted mb-1">New Friends</p>
                            <h5 class="mb-0">541</h5>
                        </div>
                        <div class="mb-3 mb-xl-0 hidden-xs">
                            <p class="text-muted mb-1">Followers</p>
                            <h5 class="mb-0">12K</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="profile-header d-flex justify-content-between justify-content-center theme-bg gradient">
                        <div class="d-flex">
                            <div class="mr-3">
                                <img src="assets/images/user.png" class="rounded" alt="">
                            </div>
                            <div class="details">
                                <h5 class="mb-0">Dr. Alan Green</h5>
                                <span class="text-light">Gynaecologist</span>
                                <p class="mb-0">795 Folsom Ave, Suite 600 San Francisco, 94107</p>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-default btn-sm">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="body">
                        <div class="card-value float-right text-warning"><i class="wi wi-day-cloudy"></i></div>
                        <h3 class="mb-1">18°C</h3>
                        <div>New York, USA</div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>People to follow</h2>
                    </div>
                    <div class="body">
                        <ul class="right_chat w_followers list-unstyled mb-0">
                            <li class="online">
                                <a href="javascript:void(0);" class="media">
                                    <img class="media-object " src="assets/images/xs/avatar4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">@MelissaMcCoy</span>
                                        <span class="message">3.1m followers</span>
                                    </div>
                                    <button class="btn btn-default btn-sm">Follow</button>
                                </a>
                            </li>
                            <li class="online">
                                <a href="javascript:void(0);" class="media">
                                    <img class="media-object " src="assets/images/xs/avatar5.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">@Joge Lucky</span>
                                        <span class="message">3.1m followers</span>
                                    </div>
                                    <button class="btn btn-default btn-sm">Follow</button>
                                </a>
                            </li>
                            <li class="offline">
                                <a href="javascript:void(0);" class="media">
                                    <img class="media-object " src="assets/images/xs/avatar2.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">@JuanMartinez</span>
                                        <span class="message">10k followers</span>
                                    </div>
                                    <button class="btn btn-default btn-sm">Follow</button>
                                </a>
                            </li>
                            <li class="offline">
                                <a href="javascript:void(0);" class="media">
                                    <img class="media-object " src="assets/images/xs/avatar1.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">@Folisise Chosielie</span>
                                        <span class="message">3.1m followers</span>
                                    </div>
                                    <button class="btn btn-default btn-sm">Follow</button>
                                </a>
                            </li>
                            <li class="online">
                                <a href="javascript:void(0);" class="media">
                                    <img class="media-object " src="assets/images/xs/avatar3.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">@LouisHenry</span>
                                        <span class="message">1.1m followers</span>
                                    </div>
                                    <button class="btn btn-default btn-sm">Follow</button>
                                </a>
                            </li>
                            <li class="offline">
                                <a href="javascript:void(0);" class="media">
                                    <img class="media-object " src="assets/images/xs/avatar10.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">@Folisise Chosielie</span>
                                        <span class="message">101k followers</span>
                                    </div>
                                    <button class="btn btn-default btn-sm">Follow</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row clearfix w_social3">
                    <div class="col-lg-6 col-6">
                        <div class="card facebook-widget">
                            <div id="slider2" class="carousel slide vert" data-ride="carousel" data-interval="2000">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="icon"><i class="fa fa-facebook"></i></div>
                                        <div class="content">
                                            <div class="text">Like</div>
                                            <div class="number">10K</div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="icon"><i class="fa fa-facebook"></i></div>
                                        <div class="content">
                                            <div class="text">Comment</div>
                                            <div class="number">217</div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="icon"><i class="fa fa-facebook"></i></div>
                                        <div class="content">
                                            <div class="text">Share</div>
                                            <div class="number">78</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="card instagram-widget">
                            <div class="icon"><i class="fa fa-instagram"></i></div>
                            <div class="content">
                                <div class="text">Followers</div>
                                <div class="number">231</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="card google-widget">
                            <div id="slider2" class="carousel slide vert" data-ride="carousel" data-interval="2000">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="icon"><i class="fa fa-google"></i></div>
                                        <div class="content">
                                            <div class="text">Like</div>
                                            <div class="number">10K</div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="icon"><i class="fa fa-google"></i></div>
                                        <div class="content">
                                            <div class="text">Comment</div>
                                            <div class="number">217</div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="icon"><i class="fa fa-google"></i></div>
                                        <div class="content">
                                            <div class="text">Share</div>
                                            <div class="number">78</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="card twitter-widget">
                            <div id="slider2" class="carousel slide vert" data-ride="carousel" data-interval="2000">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="icon"><i class="fa fa-twitter"></i></div>
                                        <div class="content">
                                            <div class="text">Followers</div>
                                            <div class="number">10K</div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="icon"><i class="fa fa-twitter"></i></div>
                                        <div class="content">
                                            <div class="text">Twitt</div>
                                            <div class="number">657</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <ul class="nav nav-tabs2">
                    <li class="nav-item"><a class="nav-link" [ngClass]="{'active': FeedTab}" data-toggle="tab"
                            (click)="onTab('1')" href="javascript:void(0)">Feed</a></li>
                    <li class="nav-item"><a class="nav-link" [ngClass]="{'active': ActivityTab}" data-toggle="tab"
                            (click)="onTab('2')" href="javascript:void(0)">Activity</a></li>
                    <li class="nav-item"><a class="nav-link" [ngClass]="{'active': FriendsTab}" data-toggle="tab"
                            (click)="onTab('3')" href="javascript:void(0)">Followers</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane vivify fadeIn delay-100 active show" id="Feed" [ngClass]="{'active': FeedTab}">
                        <div class="card">
                            <div class="body">
                                <div class="d-flex mb-3">
                                    <div class="icon bg-transparent">
                                        <img src="assets/images/user-small.png" class="rounded-circle mr-3 w40" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-0">Alan Green</h6>
                                        <span>UI director</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea rows="4" class="form-control no-resize"
                                        placeholder="Please type what you want..."></textarea>
                                </div>
                                <div class="align-right">
                                    <button class="btn btn-link"><i class="fa fa-paperclip text-muted"></i></button>
                                    <button class="btn btn-link"><i class="fa fa-camera text-muted"></i></button>
                                    <button class="btn btn-link"><i class="fa fa-print text-muted"></i></button>
                                    <button class="btn btn-primary theme-bg gradient">Post</button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="body">
                                <div class="d-flex mb-3">
                                    <div class="icon bg-transparent">
                                        <img src="assets/images/user-small.png" class="rounded-circle mr-3 w40" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-0"><a href="#">Alan Green</a> in <a href="#">New project
                                                design</a></h6>
                                        <small class="text-muted font-12">Sept 01, 2020</small>
                                    </div>
                                </div>
                                <div class="content border-top pt-3">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p>
                                    <div class="img-post multi">
                                        <img class="img-fluid rounded" src="assets/images/image-gallery/2.jpg"
                                            alt="img">
                                        <img class="img-fluid rounded" src="assets/images/image-gallery/3.jpg"
                                            alt="img">
                                        <img class="img-fluid rounded" src="assets/images/image-gallery/4.jpg"
                                            alt="img">
                                        <img class="img-fluid rounded" src="assets/images/image-gallery/5.jpg"
                                            alt="img">
                                        <img class="img-fluid rounded" src="assets/images/image-gallery/6.jpg"
                                            alt="img">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="mr-3 text-muted font-13"><i class="fa fa-thumbs-o-up"></i> 10K Likes
                                </a>
                                <a href="#" class="mr-3 text-muted font-13"><i class="fa fa-comments"></i> 92 Comments
                                </a>
                                <a href="#" class="text-muted font-13"><i class="fa fa-share-alt"></i> Share</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="body">
                                <div class="d-flex mb-3">
                                    <div class="icon bg-transparent">
                                        <img src="assets/images/user-small.png" class="rounded-circle mr-3 w40" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-0"><a href="#">Alan Green</a> in <a href="#">New project
                                                design</a></h6>
                                        <small class="text-muted font-12">Sept 01, 2020</small>
                                    </div>
                                </div>
                                <div class="content border-top pt-3">
                                    <p>It is a long <a href="#">established</a> fact that a reader will be distracted by
                                        the readable content of a page when looking at its layout. The point of using
                                        Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                        opposed to using 'Content here, content here', making it look like readable
                                        English</p>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a <strong>page when looking</strong> at its layout.</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="mr-3 text-muted font-13"><i class="fa fa-thumbs-o-up"></i> 10K Likes
                                </a>
                                <a href="#" class="mr-3 text-muted font-13"><i class="fa fa-comments"></i> 92 Comments
                                </a>
                                <a href="#" class="text-muted font-13"><i class="fa fa-share-alt"></i> Share</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="body">
                                <div class="d-flex mb-3">
                                    <div class="icon bg-transparent">
                                        <img src="assets/images/user-small.png" class="rounded-circle mr-3 w40" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-0"><a href="#">Alan Green</a> at <a href="#">South Lake Tahoe,
                                                California</a></h6>
                                        <small class="text-muted font-12">Sept 12, 2020</small>
                                    </div>
                                </div>
                                <div class="content border-top pt-3">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p>
                                    <div class="img-post multi">
                                        <img class="img-fluid rounded" src="assets/images/image-gallery/7.jpg"
                                            alt="img">
                                        <img class="img-fluid rounded" src="assets/images/image-gallery/8.jpg"
                                            alt="img">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="mr-3 text-muted font-13"><i class="fa fa-thumbs-o-up"></i> 10K Likes
                                </a>
                                <a href="#" class="mr-3 text-muted font-13"><i class="fa fa-comments"></i> 92 Comments
                                </a>
                                <a href="#" class="text-muted font-13"><i class="fa fa-share-alt"></i> Share</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="body">
                                <div class="d-flex mb-3">
                                    <div class="icon bg-transparent">
                                        <img src="assets/images/user-small.png" class="rounded-circle mr-3 w40" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-0"><a href="#">Alan Green</a> at <a href="#">South Lake Tahoe,
                                                California</a></h6>
                                        <small class="text-muted font-12">Sept 14, 2020</small>
                                    </div>
                                </div>
                                <div class="content border-top pt-3">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p>
                                    <div class="img-post">
                                        <img class="img-fluid rounded" src="assets/images/image-gallery/12.jpg"
                                            alt="img">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="mr-3 text-muted font-13"><i class="fa fa-thumbs-o-up"></i> 10K Likes
                                </a>
                                <a href="#" class="mr-3 text-muted font-13"><i class="fa fa-comments"></i> 92 Comments
                                </a>
                                <a href="#" class="text-muted font-13"><i class="fa fa-share-alt"></i> Share</a>
                            </div>
                        </div>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                        </ul>
                    </div>
                    <div class="tab-pane vivify fadeIn delay-100" id="Activity" [ngClass]="{'active': ActivityTab}">
                        <div class="timeline">
                            <div class="timeline-item green vivify fadeIn">
                                <img src="assets/images/xs/avatar4.jpg" data-toggle="tooltip" tooltip="Avtar Name"
                                    title="Avatar Name" alt="Avatar" class="w35 h35 rounded-circle">

                                <div class="d-flex align-items-center justify-content-between">
                                    <span><a href="javascript:void(0);">Michelle Schultz</a> San Francisco, CA </span>
                                    <small class="date font-12">20-04-2020 - Today</small>
                                </div>

                                <h6>Hello, What is Lorem Ipsum?</h6>
                                <div class="msg">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book.</p>
                                </div>
                            </div>
                            <div class="timeline-item pink vivify fadeIn">
                                <img src="assets/images/xs/avatar3.jpg" data-toggle="tooltip" tooltip="Avtar Name"
                                    title="Avatar Name" alt="Avatar" class="w35 h35 rounded-circle">

                                <div class="d-flex align-items-center justify-content-between">
                                    <span><a href="javascript:void(0);">Elizabeth Martin</a> Oakland, CA</span>
                                    <small class="date font-12">20-04-2020 - Yesterday</small>
                                </div>

                                <h6>Hello Michelle, Where can I get some?</h6>
                                <div class="msg">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered alteration in some form, by injected humour, or randomised words
                                        which don't look even slightly believable.</p>
                                    <img src="assets/images/image-gallery/1.jpg" class="rounded w100" alt="" />
                                    <img src="assets/images/image-gallery/2.jpg" class="rounded w100" alt="" />
                                    <img src="assets/images/image-gallery/3.jpg" class="rounded w100" alt="" />
                                    <img src="assets/images/image-gallery/4.jpg" class="rounded w100" alt="" />
                                </div>
                            </div>
                            <div class="timeline-item orange vivify fadeIn">
                                <img src="assets/images/xs/avatar8.jpg" data-toggle="tooltip" tooltip="Avtar Name"
                                    title="Avatar Name" alt="Avatar" class="w35 h35 rounded-circle">

                                <div class="d-flex align-items-center justify-content-between">
                                    <span><a href="javascript:void(0);">Jason Porter</a> San Francisco, CA </span>
                                    <small class="date font-12">20-04-2020 - Yesterday</small>
                                </div>

                                <h6>Hi, Where does it come from?</h6>
                                <div class="msg">
                                    <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                        looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                                        passage, and going through the cites of the word in classical literature,
                                        discovered the undoubtable source.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane vivify fadeIn delay-100" id="Friends" [ngClass]="{'active': FriendsTab}">
                        <div class="table-responsive">
                            <table class="table table-hover table-custom spacing5 mb-0">
                                <tbody>
                                    <tr>
                                        <td class="w60">
                                            <img src="assets/images/xs/avatar1.jpg" tooltip="Avtar Name"
                                                title="Avatar Name" alt="Avatar" class="rounded-circle w35">
                                        </td>
                                        <td>
                                            <a href="#" title="">Jason Porter</a>
                                            <p class="mb-0">+ 264-625-5858</p>
                                        </td>
                                        <td>
                                            <span>jason-porter@example.com</span>
                                        </td>
                                        <td>
                                            <button
                                                class="btn btn-primary theme-bg gradient btn-sm mr-2">Follow</button>
                                            <button class="btn btn-dark btn-sm">Message</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w60">
                                            <img src="assets/images/xs/avatar2.jpg" data-toggle="tooltip"
                                                tooltip="Avtar Name" title="Avatar Name" alt="Avatar"
                                                class="rounded-circle w35">
                                        </td>
                                        <td>
                                            <a href="#" title="">Denise Elliott</a>
                                            <p class="mb-0">+ 264-625-4523</p>
                                        </td>
                                        <td>
                                            <span>denise-elliott@example.com</span>
                                        </td>
                                        <td>
                                            <button
                                                class="btn btn-primary theme-bg gradient btn-sm mr-2">Follow</button>
                                            <button class="btn btn-dark btn-sm">Message</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w60">
                                            <img src="assets/images/xs/avatar3.jpg" data-toggle="tooltip"
                                                tooltip="Avtar Name" title="Avatar Name" alt="Avatar"
                                                class="rounded-circle w35">
                                        </td>
                                        <td>
                                            <a href="#" title="">Rose Coke</a>
                                            <p class="mb-0">+ 264-625-2583</p>
                                        </td>
                                        <td>
                                            <span>rose-coke@example.com</span>
                                        </td>
                                        <td>
                                            <button
                                                class="btn btn-primary theme-bg gradient btn-sm mr-2">Follow</button>
                                            <button class="btn btn-dark btn-sm">Message</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w60">
                                            <img src="assets/images/xs/avatar4.jpg" data-toggle="tooltip"
                                                tooltip="Avtar Name" title="Avatar Name" alt="Avatar"
                                                class="rounded-circle w35">
                                        </td>
                                        <td>
                                            <a href="#" title="">Grace Knight</a>
                                            <p class="mb-0">+ 264-625-2583</p>
                                        </td>
                                        <td>
                                            <span>grace-knight@example.com</span>
                                        </td>
                                        <td>
                                            <button
                                                class="btn btn-primary theme-bg gradient btn-sm mr-2">Follow</button>
                                            <button class="btn btn-dark btn-sm">Message</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w60">
                                            <img src="assets/images/xs/avatar5.jpg" data-toggle="tooltip"
                                                tooltip="Avtar Name" title="Avatar Name" alt="Avatar"
                                                class="rounded-circle w35">
                                        </td>
                                        <td>
                                            <a href="#" title="">Elizabeth Martin</a>
                                            <p class="mb-0">+ 264-625-2341</p>
                                        </td>
                                        <td>
                                            <span>Elizabeth-Martin@example.com</span>
                                        </td>
                                        <td>
                                            <button
                                                class="btn btn-primary theme-bg gradient btn-sm mr-2">Follow</button>
                                            <button class="btn btn-dark btn-sm">Message</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w60">
                                            <img src="assets/images/xs/avatar6.jpg" data-toggle="tooltip"
                                                tooltip="Avtar Name" title="Avatar Name" alt="Avatar"
                                                class="rounded-circle w35">
                                        </td>
                                        <td>
                                            <a href="#" title="">Denise Alvarado</a>
                                            <p class="mb-0">+ 264-625-7262</p>
                                        </td>
                                        <td>
                                            <span>denise-Alvarado@example.com</span>
                                        </td>
                                        <td>
                                            <button
                                                class="btn btn-primary theme-bg gradient btn-sm mr-2">Follow</button>
                                            <button class="btn btn-dark btn-sm">Message</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w60">
                                            <img src="assets/images/xs/avatar7.jpg" data-toggle="tooltip"
                                                tooltip="Avtar Name" title="Avatar Name" alt="Avatar"
                                                class="rounded-circle w35">
                                        </td>
                                        <td>
                                            <a href="#" title="">Terry Carter</a>
                                            <p class="mb-0">+ 264-625-9283</p>
                                        </td>
                                        <td>
                                            <span>Carol-coke@example.com</span>
                                        </td>
                                        <td>
                                            <button
                                                class="btn btn-primary theme-bg gradient btn-sm mr-2">Follow</button>
                                            <button class="btn btn-dark btn-sm">Message</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w60">
                                            <img src="assets/images/xs/avatar8.jpg" data-toggle="tooltip"
                                                tooltip="Avtar Name" title="Avatar Name" alt="Avatar"
                                                class="rounded-circle w35">
                                        </td>
                                        <td>
                                            <a href="#" title="">Michelle Schultz</a>
                                            <p class="mb-0">+ 264-625-2233</p>
                                        </td>
                                        <td>
                                            <span>Michelle-Schultz@example.com</span>
                                        </td>
                                        <td>
                                            <button
                                                class="btn btn-primary theme-bg gradient btn-sm mr-2">Follow</button>
                                            <button class="btn btn-dark btn-sm">Message</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>