<app-header></app-header>


<div id="main-content">
    <div class="container-fluid">
        <!-- Page header section  -->
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h1>Hi, Welcomeback!</h1>
                    <span>JustDo Apex Chart,</span>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 text-lg-right">
                    <div
                        class="d-flex align-items-center justify-content-lg-end mt-4 mt-lg-0 flex-wrap vivify pullUp delay-550">

                        <div class="border-right pr-4 mr-4 mb-2 mb-xl-0">
                            <p class="text-muted mb-1">Purchases <span id="mini-bar-chart3"
                                    class="mini-bar-chart"></span></p>
                            <h5 class="mb-0">289</h5>
                        </div>
                        <div class="border-right pr-4 mr-4 mb-2 mb-xl-0">
                            <p class="text-muted mb-1">Today’s profit <span id="mini-bar-chart2"
                                    class="mini-bar-chart"></span></p>
                            <h5 class="mb-0">$541</h5>
                        </div>
                        <div class="mb-3 mb-xl-0">
                            <p class="text-muted mb-1">Balance <span id="mini-bar-chart1" class="mini-bar-chart"></span>
                            </p>
                            <h5 class="mb-0">$98M</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-4 col-lg-5 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Area Chart</h2>
                    </div>
                    <div class="body">

                        <app-area-chart></app-area-chart>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Pie Chart</h2>
                    </div>
                    <div class="body">
                        <app-pie-chart></app-pie-chart>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Basic Radar</h2>
                    </div>
                    <div class="body">
                        <app-radar-chart></app-radar-chart>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Circle Gradient Chart</h2>
                    </div>
                    <div class="body">
                        <app-radialbar-chart></app-radialbar-chart>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Area Chart</h2>
                    </div>
                    <div class="body">

                        <app-area-chart></app-area-chart>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Sparkline Chart</h2>
                    </div>
                    <div class="body">

                        <app-sparklines></app-sparklines>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Area Datetime</h2>
                        <ul class="header-dropdown dropdown">
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="one_month">1M</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="six_months">6M</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="one_year">1Y</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="ytd">YTD</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary" id="all">ALL</button></li>
                        </ul>
                    </div>
                    <div class="body">
                        <app-line-chart></app-line-chart>

                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Basic Column</h2>
                    </div>
                    <div class="body">
                        <app-column-chart></app-column-chart>

                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Basic Bar</h2>
                    </div>
                    <div class="body">
                        <app-bar-chart></app-bar-chart>

                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        Candle Stick Chart
                    </div>
                    <div class="body">

                        <app-candlestick-chart></app-candlestick-chart>
                    </div>
                </div>

                <div class="card">
                    <div class="header">
                        <h2>Basic Heatmap Chart</h2>
                    </div>
                    <div class="body">
                        <app-heatmap-chart></app-heatmap-chart>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>