<app-header></app-header>
<div id="main-content">
    <div class="container-fluid">
        <!-- Page header section  -->
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h1>Hi, Welcomeback!</h1>
                    <span>JustDo Departments,</span>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 text-lg-right">
                    <div
                        class="d-flex align-items-center justify-content-md-end mt-4 mt-md-0 flex-wrap vivify pullUp delay-550">
                        <div class="mb-3 mb-xl-0">
                            <button class="btn btn-primary" title="" (click)="openModal(template)">Add
                                Departments</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img class="img-fluid rounded" src="assets/images/image-gallery/1.jpg" alt="">
                    <div class="body">
                        <h6 class="mt-3">Covid 19</h6>
                        <p class="text-muted">It is a long established fact that a reader will be distracted[...]</p>
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0">4.3</h6>
                            <div class="ml-2 mr-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <a href="#" class="btn btn-sm btn-default">View Report</a>
                            <div class="avatar-list avatar-list-stacked">
                                <img class="avatar sm" src="assets/images/xs/avatar1.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar2.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar3.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img class="img-fluid rounded" src="assets/images/image-gallery/2.jpg" alt="">
                    <div class="body">
                        <h6 class="mt-3">Neurology</h6>
                        <p class="text-muted">It is a long established fact that a reader will be distracted[...]</p>
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0">3.3</h6>
                            <div class="ml-2 mr-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <a href="#" class="btn btn-sm btn-default">View Report</a>
                            <div class="avatar-list avatar-list-stacked">
                                <img class="avatar sm" src="assets/images/xs/avatar5.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar6.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img class="img-fluid rounded" src="assets/images/image-gallery/3.jpg" alt="">
                    <div class="body">
                        <h6 class="mt-3">Pulmonology</h6>
                        <p class="text-muted">It is a long established fact that a reader will be distracted[...]</p>
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0">3.3</h6>
                            <div class="ml-2 mr-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <a href="#" class="btn btn-sm btn-default">View Report</a>
                            <div class="avatar-list avatar-list-stacked">
                                <img class="avatar sm" src="assets/images/xs/avatar4.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar3.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar2.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar1.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img class="img-fluid rounded" src="assets/images/image-gallery/4.jpg" alt="">
                    <div class="body">
                        <h6 class="mt-3">Gynecology</h6>
                        <p class="text-muted">It is a long established fact that a reader will be distracted[...]</p>
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0">4.1</h6>
                            <div class="ml-2 mr-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <a href="#" class="btn btn-sm btn-default">View Report</a>
                            <div class="avatar-list avatar-list-stacked">
                                <img class="avatar sm" src="assets/images/xs/avatar7.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar8.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar9.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img class="img-fluid rounded" src="assets/images/image-gallery/5.jpg" alt="">
                    <div class="body">
                        <h6 class="mt-3">Cardiology</h6>
                        <p class="text-muted">It is a long established fact that a reader will be distracted[...]</p>
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0">4.6</h6>
                            <div class="ml-2 mr-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <a href="#" class="btn btn-sm btn-default">View Report</a>
                            <div class="avatar-list avatar-list-stacked">
                                <img class="avatar sm" src="assets/images/xs/avatar5.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar8.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img class="img-fluid rounded" src="assets/images/image-gallery/6.jpg" alt="">
                    <div class="body">
                        <h6 class="mt-3">Neurology</h6>
                        <p class="text-muted">It is a long established fact that a reader will be distracted[...]</p>
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0">2.9</h6>
                            <div class="ml-2 mr-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <a href="#" class="btn btn-sm btn-default">View Report</a>
                            <div class="avatar-list avatar-list-stacked">
                                <img class="avatar sm" src="assets/images/xs/avatar5.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar6.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar4.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img class="img-fluid rounded" src="assets/images/image-gallery/7.jpg" alt="">
                    <div class="body">
                        <h6 class="mt-3">Pulmonology</h6>
                        <p class="text-muted">It is a long established fact that a reader will be distracted[...]</p>
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0">3.3</h6>
                            <div class="ml-2 mr-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <a href="#" class="btn btn-sm btn-default">View Report</a>
                            <div class="avatar-list avatar-list-stacked">
                                <img class="avatar sm" src="assets/images/xs/avatar5.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar1.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar7.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img class="img-fluid rounded" src="assets/images/image-gallery/8.jpg" alt="">
                    <div class="body">
                        <h6 class="mt-3">Gynecology</h6>
                        <p class="text-muted">It is a long established fact that a reader will be distracted[...]</p>
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0">4.7</h6>
                            <div class="ml-2 mr-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <a href="#" class="btn btn-sm btn-default">View Report</a>
                            <div class="avatar-list avatar-list-stacked">
                                <img class="avatar sm" src="assets/images/xs/avatar6.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar2.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                                <img class="avatar sm" src="assets/images/xs/avatar4.jpg" data-toggle="tooltip"
                                    tooltip="Avtar" title="" data-original-title="Avatar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Departments</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
            <div class="col-md-8">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Departments Name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <select class="form-control show-tick">
                        <option value="">- Select Team -</option>
                        <option value="1">Dr. John Smith</option>
                        <option value="2">Dr. Hossein Shams </option>
                        <option value="3">Dr. Maryam Amiri</option>
                        <option value="4">Dr. Tim Hank</option>
                        <option value="5">Dr. Fidel Tonn</option>
                        <option value="6">Dr. Gary Camara</option>
                        <option value="7">Dr. Frank Camly</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12">
                <input type="file" class="dropify">
            </div>
            <div class="col-sm-12">
                <div class="form-group mt-3">
                    <textarea rows="6" class="form-control no-resize"
                        placeholder="Please type what you want..."></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-round btn-primary" style="background-color: #6cb440;">Add</button>
        <button type="button" class="btn btn-round btn-default" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>