<app-header></app-header>
<div id="main-content">
    <div class="container-fluid">
        <!-- Page header section  -->
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h1>Hi, Welcomeback!</h1>
                    <span>JustDo Add Doctors,</span>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 text-lg-right">
                    <div
                        class="d-flex align-items-center justify-content-lg-end mt-4 mt-lg-0 flex-wrap vivify pullUp delay-550">
                        <div class="mb-3 mb-xl-0">
                            <a href="#" class="btn btn-dark">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group c_form_group">
                                    <label>First Name <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group c_form_group">
                                    <label>Last Name <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <div class="form-group c_form_group">
                                    <label>Date of Birth <span class="text-danger">*</span></label>
                                    <input type="text" data-provide="datepicker" data-date-autoclose="true"
                                        class="form-control" placeholder="" bsDatepicker>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group c_form_group">
                                    <label>Gender <span class="text-danger">*</span></label>
                                    <select class="form-control show-tick">
                                        <option value="">- Gender -</option>
                                        <option value="10">Male</option>
                                        <option value="20">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group c_form_group">
                                    <label>Speciality <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group c_form_group">
                                    <label>Phone <span class="text-danger">*</span></label>
                                    <input class="form-control" type="number" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group c_form_group">
                                    <label>Enter Your Email <span class="text-danger">*</span></label>
                                    <input class="form-control" type="email" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group c_form_group">
                                    <label>Website URL <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" value="">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input type="file" class="dropify">
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group mt-3">
                                    <textarea rows="4" class="form-control no-resize"
                                        placeholder="Please type what you want..."></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="submit" class="btn btn-outline-secondary ml-1">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Doctor's Account Information</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group c_form_group">
                                    <label>User Name <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group c_form_group">
                                    <label>Password <span class="text-danger">*</span></label>
                                    <input class="form-control" type="password" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group c_form_group">
                                    <label>Confirm Password <span class="text-danger">*</span></label>
                                    <input class="form-control" type="password" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="submit" class="btn btn-outline-secondary ml-1">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Doctor Social Media Info</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group c_form_group">
                                    <label>Facebook</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-facebook"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group c_form_group">
                                    <label>Twitter</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-twitter"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group c_form_group">
                                    <label>Linkedin</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-linkedin"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group c_form_group">
                                    <label>Instagram</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-instagram"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="submit" class="btn btn-outline-secondary ml-1">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>