<app-header></app-header>
<div id="main-content">
    <div class="container-fluid">
        <!-- Page header section  -->
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h1>Hi, Welcomeback!</h1>
                    <span>JustDo Add New Room,</span>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 text-lg-right">
                    <div
                        class="d-flex align-items-center justify-content-lg-end mt-4 mt-lg-0 flex-wrap vivify pullUp delay-550">
                        <div class="border-right pr-4 mr-4 mb-2 mb-xl-0 hidden-xs">
                            <p class="text-muted mb-1">Operation <span id="mini-bar-chart3"
                                    class="mini-bar-chart"></span></p>
                            <h5 class="mb-0">29</h5>
                        </div>
                        <div class="border-right pr-4 mr-4 mb-2 mb-xl-0">
                            <p class="text-muted mb-1">Earning <span id="mini-bar-chart2" class="mini-bar-chart"></span>
                            </p>
                            <h5 class="mb-0">$981</h5>
                        </div>
                        <div class="mb-3 mb-xl-0">
                            <p class="text-muted mb-1">Revenue <span id="mini-bar-chart1" class="mini-bar-chart"></span>
                            </p>
                            <h5 class="mb-0">$56 M</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="card">
                    <div class="body">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Room No.</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail3"
                                        placeholder="Enter Room No.">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Patient Name</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail3"
                                        placeholder="Enter Patient Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Room Type</label>
                                <div class="col-md-6 col-sm-10">
                                    <select class="form-control input-height" name="select">
                                        <option value="">Select...</option>
                                        <option value="Category 1">General Ward</option>
                                        <option value="Category 2">Delux</option>
                                        <option value="Category 3">Super Delux</option>
                                        <option value="Category 3">ICU</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Allotment Date</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" data-provide="datepicker" data-date-autoclose="true"
                                        class="form-control" placeholder="Allotment Date" bsDatepicker>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Discharge Date</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" data-provide="datepicker" data-date-autoclose="true"
                                        class="form-control" placeholder="Discharge Date" bsDatepicker>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Patient Photo</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="file" class="dropify">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-md-6 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="submit" class="btn btn-default ml-1">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>